.herolist{
    padding-left: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
}
.herolist>a{
    display:inline-block;
    margin-bottom: 10px;
    background-color: #EEE;
    color:black; 
    text-decoration: none;
    padding:5px 20px;
    cursor: pointer;
    border-radius: 4px;
}
.herolist>a:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .HeroList{
      float: left;
  }
  .Heroform{
    float: left;
      width: 500px;
      margin: 0 10px;
      margin-left: 50px;
  }