.view{
    width: 220px;
    border:1px solid gray;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
    color: rgb(89,89,89);
}
.seconds{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .5);
    color: rgba(255,255,255, .7);;
    font-size: 35px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.start,.stop{
    display: inline-block;
    border: none;
    outline: none;
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
.Adactive{
    border: 1px solid #2399e5;
    color: #FFFFFF;
    background: #2399e5;
    transition: background-color .2s;
}